/* COLOR */

:root {
  --blue1: rgb(153, 193, 241);
  --blue2: rgb(98, 160, 234);
  --blue3: rgb(53, 132, 228);
  --blue4: rgb(28, 113, 216);
  --centerue5: rgb(26, 95, 180);
  --green1: rgb(143, 240, 164);
  --green2: rgb(87, 227, 137);
  --green3: rgb(51, 209, 122);
  --green4: rgb(46, 194, 126);
  --green5: rgb(38, 162, 105);
  --yellow1: rgb(249, 240, 107);
  --yellow2: rgb(248, 228, 92);
  --yellow3: rgb(246, 211, 45);
  --yellow4: rgb(245, 194, 17);
  --yellow5: rgb(229, 165, 10);
  --orange1: rgb(255, 190, 111);
  --orange2: rgb(255, 163, 72);
  --orange3: rgb(255, 120, 0);
  --orange4: rgb(230, 97, 0);
  --orange5: rgb(198, 70, 0);
  --red1: rgb(246, 97, 81);
  --red2: rgb(237, 51, 59);
  --red3: rgb(224, 27, 36);
  --red4: rgb(192, 28, 40);
  --red5: rgb(165, 29, 45);
  --purple1: rgb(220, 138, 221);
  --purple2: rgb(192, 97, 203);
  --purple3: rgb(145, 65, 172);
  --purple4: rgb(129, 61, 156);
  --purple5: rgb(97, 53, 131);
  --brown1: rgb(205, 171, 143);
  --brown2: rgb(181, 131, 90);
  --brown3: rgb(152, 106, 68);
  --brown4: rgb(134, 94, 60);
  --brown5: rgb(99, 69, 44);
  --light1: rgb(255, 255, 255);
  --light2: rgb(246, 245, 244);
  --light3: rgb(222, 221, 218);
  --light4: rgb(192, 191, 188);
  --light5: rgb(154, 153, 150);
  --dark1: rgb(119, 118, 123);
  --dark2: rgb(94, 92, 100);
  --dark3: rgb(61, 56, 70);
  --dark4: rgb(36, 31, 49);
  --dark5: rgb(0, 0, 0);
}

html,
body {
  font-size: 18px;
  font-family: "Cantarell", -apple-system, BlinkMacSystemFont, "Helvetica",
    sans-serif;
  font-weight: 400;
  line-height: 1.6;
  width: 100%;
  height: 100%;
}

body {
  color: var(--dark5);
  background-color: var(--light1);
  display: flexbox;
}

h1,
h2,
h3,
h4,
h5,
h6,
h7 {
  font-weight: 800;
  text-align: center;
  line-height: 1.25;
}

a {
  color: var(--blue3);
}

p {
  text-align: center;
  margin: auto;
  max-width: 30em;
}

/* LAYOUT */

.top-row,
.about-me,
.table,
.form {
  padding-bottom: 10%;
}

.container {
  width: 85%;
  margin: auto;
  max-width: 900px;
}

.photo {
  display: block;
  margin: 0 auto;
  width: 30%;
  border-radius: 50%;
}

#logo {
  margin: 0;
  display: block;
  width: 20%;
}

video {
  width: 70%;
  display: block;
  overflow: hidden;
  margin: auto;
  padding: 5% 5%;
}

.table .container > p {
  padding-bottom: 5%;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
  border-spacing: 5px;
  table-layout: fixed;
  width: 100%;
}

th {
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  padding: 10px;
  background-color: var(--green3);
}

td {
  padding: 10px;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  background-color: var(--green2);
}

form {
  width: 100%;
  padding-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-group {
  width: 80%;
  position: relative;
  padding-bottom: 2em;
}

.input-group .input-area {
  width: 100%;
  border: 1px solid var(--dark1);
  padding: 1.2em 1em;
  border-radius: 0.5em;
}

.input-group .input-area:focus {
  border: 1px solid var(--blue3);
}

.input-group .input-area:focus + .label {
  top: -1em;
  padding: 0 0.25em;
  font-size: 0.75em;
  color: var(--blue3);
}

.input-group .label {
  color: var(--dark1);
  position: absolute;
  top: 0.55em;
  left: 0.75em;
  background: var(--light1);
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
}

.input-group .input-area:valid + .label {
  top: -1em;
  padding: 0 0.25em;
  font-size: 0.75em;
  color: var(--dark1);
}

.button {
  background-color: var(--blue3);
  color: var(--light1);
  font-size: 20px;
  text-align: center;
  padding: 0.75em 2em;
  border: none;
  border-radius: 0.5em;
  cursor: pointer;
  text-shadow: 1px 1px 1px var(--dark1);
  box-shadow: 2px 2px 3px var(--blue4), -2px -2px 3px var(--blue1);
}

.button:hover {
  background-color: var(--blue2);
  text-shadow: 2px 2px 2px var(--dark2);
}

.button:active {
  box-shadow: -2px -2px 3px var(--blue4), -2px -2px 3px var(--blue1);
}
