* {
  box-sizing: border-box;
  margin: 0;
}

body {
  min-height: 100vh;
  display: grid;
  grid-gap: 1em;
  grid:
    "header" auto
    "nav" auto
    "main" 1fr
    "footer" auto
    / 1fr;
}

header {
  grid-area: header;
}
nav {
  grid-area: nav;
}
main {
  width: 70%;
  grid-area: main;
  margin: 0 auto;
}
footer {
  grid-area: footer;
}

/* Sub-Grids */

/* show… */
body {
  color: #1b1b1f;
  font-family: "Noto Sans", sans-serif;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  list-style-type: none;
}

header,
nav,
main {
  background: #fff;
  padding: 1em;
}

.grid-item {
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 2rem;
  transition: transform 0.3s ease-in-out;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.grid-container img {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
}

.grid-container img:hover {
  box-shadow: 0.3rem 0.3rem 0.2rem 0.1rem rgba(36, 31, 49, 0.2);
}

.grid-item:hover {
  filter: opacity(0.9);
  transform: scale(1.04);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-auto-rows: minmax(200px, auto);
  gap: 1rem;
  padding: 1rem;
  grid-auto-flow: dense;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table td,
table th {
  padding: 12px 15px;
  border: 1px solid #ddd;
  text-align: center;
  font-size: 16px;
}

table th {
  background-color: lightblue;
  color: black;
}

table tbody tr:nth-child(even) {
  background-color: #f5f5f5;
}

.contact-in {
  width: 100%;
  height: auto;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background: #fff;
  box-shadow: 0 0 0.3rem 0 rgb(168, 168, 168);
}

.contact-map {
  width: 100%;
  height: auto;
  flex: 50%;
}

.contact-map iframe {
  width: 100%;
  height: 100%;
}

.contact-form {
  width: 100%;
  height: auto;
  padding: 2rem;
  flex: 50%;
}

.contact-form h3 {
  margin-bottom: 1rem;
}

.contact-form-txt,
.contact-form-textarea {
  width: 100%;
  height: 3rem;
  color: #000;
  border: 0.1rem solid #bcbcbc;
  border-radius: 0.5rem;
  outline: none;
  margin-bottom: 1rem;
  padding: 0.5rem;
  font-family: sans-serif;
}

.contact-form-txt::placeholder,
.contact-form-textarea::placeholder {
  color: #aaa;
}

.contact-form-btn {
  width: 100%;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  background: lightblue;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  padding: 1rem 0;
  cursor: pointer;
}

.contact-form textarea {
  resize: none;
}

.container {
  max-width: 100%;
  margin: auto;
}

.footer ul {
  list-style: none;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.footer {
  background-color: lightblue;
  padding: 1rem 0;
}

.footer-col {
  width: 25%;
  padding: 0 1rem;
}

.footer-col h4 {
  font-weight: lighter;
  font-size: 18px;
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 1rem;
  position: relative;
}

.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.5rem;
  background-color: lightcoral;
  height: 0.1rem;
  box-sizing: border-box;
  width: 5rem;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 1rem;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: white;
  text-decoration: none;
  font-weight: lighter;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: white;
  padding-left: 0.7rem;
}

.footer-col .social-links a:hover {
  padding-left: 0;
}

.footer-col .social-links ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.footer-col .social-links ul li a img {
  width: 40px;
  height: 40px;
}

h1,
h2,
h3 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

video {
  width: 100%;
  height: auto;
}

.video-container {
  margin: 0 auto;
  width: 50%;
}

@media screen and (min-width: 900px) {
  body {
    grid:
      "header header" auto
      "nav main" 1fr
      "footer footer" auto
      / 12em 1fr;
  }
}

@media screen and (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 5rem;
  }
  .footer-col .social-links ul {
    flex-direction: column;
  }
  .video-container {
    width: 100%;
  }
}

@media screen and (max-width: 574px) {
  .footer-col {
    width: 100%;
    margin-bottom: 5rem;
  }
  .footer-col .social-links ul {
    flex-direction: column;
  }
}

@media screen and (max-width: 500px) {
  main {
    width: 100%;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

  table thead {
    display: none;
  }

  td {
    display: block;
    width: 100%;
  }

  tr {
    display: block;
    margin-bottom: 30px;
  }

  table tbody tr:nth-child(even) {
    background-color: #fff;
  }

  .contact-map {
    flex: 100%;
  }

  .contact-form {
    flex: 100%;
  }

  .video-container {
    width: 100%;
  }
}
